/*<---------------- Gradient Background -------------->*/
body {
  background: linear-gradient(45deg, #ff7bac, red, #ff7bac, red);
  -webkit-animation: Gradient 50s ease infinite;
  animation: Gradient 50s ease infinite;
  background-size: 800% 800%;
  text-align: center; }

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
@keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
p {
  font-family: Arial Narrow, sans-serif;
  color: #d20000; }

.container {
  height: 98vh;
  width: 98vw;
  position: relative;
  text-align: center;
  background-image: url("../img/SVG/Asset1.svg");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center; }

.inputbutton {
  z-index: 1000;
  position: absolute;
  top: 45%;
  width: 100%; }
  .inputbutton .popUp {
    width: 100%;
    z-index: 100000;
    position: absolute;
    top: -15%;
    display: none; }
    .inputbutton .popUp p {
      height: 150px;
      background-color: white;
      margin: 0 25%; }
  .inputbutton input {
    height: 10.5px;
    border-style: none;
    background-color: #d20000;
    width: 300px;
    color: white;
    font-size: 20px;
    font-family: Arial Narrow, sans-serif;
    font-weight: lighter; }
  .inputbutton ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: white; }
  .inputbutton ::-moz-placeholder {
    /* Firefox 19+ */
    color: white; }
  .inputbutton :-ms-input-placeholder {
    /* IE 10+ */
    color: white; }
  .inputbutton :-moz-placeholder {
    /* Firefox 18- */
    color: white; }
  .inputbutton input:focus, .inputbutton textarea:focus, .inputbutton select:focus {
    outline: none; }
  .inputbutton input[type=text] {
    padding: 20px; }
  .inputbutton button {
    height: 51px;
    margin-left: 5px;
    border-style: none;
    background-color: #d20000;
    width: 50px;
    color: white;
    font-size: 20px;
    font-family: Arial Narrow, sans-serif;
    font-weight: lighter;
    outline: none; }
  .inputbutton button:focus, .inputbutton select:focus {
    outline: none; }

.bottomTxt {
  letter-spacing: -1px;
  width: 100%;
  margin-top: 15%; }

.topLine {
  margin: 0; }

.bolder {
  font-weight: bold;
  font-style: italic;
  margin: 0; }

/*< ------------ Second Page Styling ------------- >*/
#mod {
  height: 98vh;
  width: 98vw;
  position: relative;
  text-align: center; }

.media {
  position: absolute;
  top: 15%;
  width: 100%;
  z-index: 100000000; }

.vid iframe {
  height: 70vh;
  width: 70%; }

.tune iframe {
  margin-top: 15%; }

#btsPhotos {
  margin-top: 15%; }

#fullPage {
  top: 0%;
  width: 100%;
  height: 98vh;
  background-color: black;
  background-image: url("../img/SVG/Asset1.svg");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  margin: 0;
  padding: 0;
  display: none; }
  #fullPage .bigTxt {
    color: white;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 93px;
    margin-top: 13%; }
  #fullPage .bottomTxtBlk {
    letter-spacing: -1px;
    width: 100%;
    padding: 0;
    margin-top: -5%; }

#sndClip1 {
  display: none; }

#sndClip2 {
  display: none; }

#rgb {
  display: none; }

#tender {
  display: none; }

#btsPhotos {
  display: none; }

/*< ----------------------- Meida Queries ------------>*/
@media (max-width: 768px) {
  .container {
    background-size: 100%; }

  .bottomTxt {
    margin-top: 20%; }

  .inputbutton {
    top: 46%; }
    .inputbutton input {
      width: 200px;
      height: 45px; }
    .inputbutton button {
      height: 46px; } }
