@import 'base';

body {
	background-color: rgb(255,123,172);
}

p {
	font-family: $font;
	color: $color;
}

img {
	position: absolute;
	top: 12.5%;
	left: 12.5%;
	width: 75vw; 
	height: 75vh;
}

.container {
	width: 100%;
}

.inputbutton {
	z-index: 1000;
	position: relative;

	input {
		height: 50px;
		border-style: none;
		background-color: $color;
		width: 280px;
		color: white;
		font-size: 20px;
		font-family: $font;
		font-weight: lighter;
	}

	button {
		height: 51px;
		margin-left: 5px;
		border-style: none;
		background-color: $color;
		width: 50px;
		color: white;
		font-size: 20px;
		font-family: $font;
		font-weight: lighter;
	}
}

.bottomTxt {

}

